.dropdown-container {
  position: relative;
  margin: 2rem;
  width: 15rem;
  display: inline-block;
  background-color: #4f3eae;
  border-top-right-radius: 0.5rem;
  border-top-left-radius: 0.5rem;
}

.dropdown-container:hover {
  cursor: pointer;
  background-color: #6e5fc1;
}

.dropdown-toggle {
  background-color: transparent;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
}

.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  background-color: white;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  padding: 10px 0;
  border-radius: 4px;
  list-style-type: none;
  margin: 0;
  z-index: 1000;
}

.dropdown-menu li {
  padding: 8px 20px;
}

.dropdown-menu button {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 8px 16px;
  border: none;
  background-color: transparent;
  cursor: pointer;
  text-align: left;
}

.dropdown-menu button:hover {
  background-color: #f1f1f1;
}

.bold-text {
  font-weight: bold;
}

.italic-text {
  font-style: italic;
}
