/* Tailwind either does not have the properties below or gets overridden by certain styles here (e.g. all:unset). */

.cst-scaling-font {
  font-size: calc(10px + 2vmin); /* font size scales with window width*/
}

.cst-grid-autofill-columns {
  grid-template-columns: repeat(
    auto-fill,
    minmax(250px, 1fr)
  ); /* squeezes maximum number of 250px + columns onto page */
  max-width: 1000px; /* limits max number of columns to 3 with grid-template-columns */
}

.cst-textarea {
  all: unset;
  color: white;
  font-style: italic;
  padding-bottom: 1rem;
  width: 100%;
  border-radius: 0.5rem;
  height: auto;
  resize: none;
  max-width: 100%;
  word-wrap: break-word; /* Prevents long words causing horizontal scroll bar */
}
.cst-textarea-title {
  font-size: 1.5rem;
  text-align: center;
}
.cst-textarea-details {
  font-size: 1rem;
  text-align: left;
}
.cst-textarea-title:focus,
.cst-textarea-details:focus {
  background-color: rgb(75, 75, 75);
  color: white;
}

.cst-wrap-break {
  word-wrap: break-word; /* Prevents horizontal scroll bar with long words. */
}
